.route-waypoints {
  &__pole-tag {
    padding: 5px 15px;
    border: 1px solid slateblue;
    background-color: slateblue;
    color: white;
    border-radius: 30px;
    margin-bottom: 15px;
  }

  &__loading {
    height: 50px;
    color: #0069d9;
  }

  .alert {
    width: fit-content;
  }
}
